body {
    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;

    width: 100%;
}

*,
*::before
* ::after
{
    box-sizing: border-box;
}  

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*Conteiner*/
.container {
    /* width: 100%; */
    max-width: 1200px;
    margin: 0px 70px;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 26px;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../img/Desktop\ -\ 1.png") center
    no-repeat;
    -webkit-border-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro_suptitle {
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 2;
    text-align: center;
    color: hwb(0 100% 0%);
}

.intro_title {
    font-size: 50px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    line-height: 1
}

/*header*/
.header {
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* padding: 30px;
    height: 25px; */
    background: hsl(34, 89%, 63%);
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.header_inner {
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_logo {
    font-size: 40px;
    line-height: 1.6;
    color: #ffffff;
    line-height: 1.6;
}

/*nav*/
.nav {
    font-size: 16.5px;
    font-weight: bold;
    text-transform: uppercase;
    
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;
    
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    

    background-color: chocolate;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;

}

.nav_link:hover {
    color: chocolate;
}

.nav_link:hover::after {
    opacity: 1;
}

/*about*/

.about {
    padding: 80px 0;
    color: black;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    
}

.header_about {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    line-height: 0.5; 
}

/*about_img*/
.about_img {
    display: flex;
    justify-content: space-between;
}

.item_img {
    width: 30%;
}

/*product*/

.product {
    padding: 80px 0;
    color: black;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.header_product {
    margin: 0 auto 40px;
    line-height: 0.5; 
}

/*Honey cake*/

.honey_cake {
    display: flex;
    justify-content: space-between;
    
}

.honey_item {
    width: 50%;     
} 

/*macaroni*/

.macaroni {
    display: flex;
    justify-content: space-between;
}

.macaroni_item {
    width: 50%;
}

/*recipes*/
.recipes {
    padding: 80px 0;
    color: black;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    
}

.cinnabon_item {
    display: flex; 
    justify-content: space-between;
    
}

.cinnabon_item_text {
    width: 30%;
    line-height: 0.5;
    color: black;
    font-family: 'Josefin Slab', serif;
    text-align: left;
    font-size: 23px;
}

/*contact*/
.contact {
    padding: 80px 0;
    color: black;
    text-align: center;
    font-family: 'Josefin Slab', serif; 
}

.contact_city {
    text-align: left;
}


button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    background: hsl(34, 89%, 63%);
    border:hwb(32 19% 13%)
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 0 hsl(34, 75%, 58%);
}   